{% extends 'base.html' %}
{% load static %}

{% block title %} About {% endblock %}

{% block maincontent %}
<br><br><br><br><br>
<p class="text-muted text-left"> <strong>La práctica final de la asignatura consiste en la creación de una aplicación
web que aglutine información sobre aparcamientos en la ciudad de Madrid.
La aplicación se encarga de descargar información sobre los mencionados
aparcamientos, disponibles públicamente en formato XML en el portal de datos
abiertos de Madrid, y de ofrecerlos a los usuarios para que puedan seleccionar
los que les parezca más interesantes, y comentar sobre ellos. </strong></p>




{% endblock maincontent %}



{% block side %}
<title> {% block caja %}<h3 class="text-center">Autor</h3>{% endblock caja %}</title>
<p class="text-center"><a href="https://github.com/dbeniteze"> <strong>Diego Benítez Elías</strong> </a></p>
{% endblock side %}
