{% extends 'base.html' %}

{% load static %}

{% block title %}Todos{% endblock %}

{% block side %}

   <div class="form-group">
       <form action="" method="post">
          <div>
             <title>{% block caja %}Selecciona un distrito{% endblock caja %}</title>
               <select class="form-control" name="distrito">
                 <option value="ARGANZUELA">ARGANZUELA</option>
                 <option value="CHAMARTIN">CHAMARTIN</option>
                 <option value="HORTALEZA">HORTALEZA</option>
                 <option value="PUENTE DE VALLECAS">PUENTE DE VALLECAS</option>
                 <option value="TETUAN">TETUAN</option>
                 <option value="VILLAVERDE">VILLAVERDE</option>
                 <option value="BARAJAS">BARAJAS</option>
                 <option value="CHAMBERI">CHAMBERI</option>
                 <option value="LATINA">LATINA</option>
                 <option value="RETIRO">RETIRO</option>
                 <option value="USERA">USERA</option>
                 <option value="CARABANCHEL">CARABANCHEL</option>
                 <option value="CIUDAD LINEAL">CIUDAD LINEAL</option>
                 <option value="MONCLOA-ARAVACA">MONCLOA-ARAVACA</option>
                 <option value="SALAMANCA">SALAMANCA</option>
                 <option value="VICALVARO">VICALVARO</option>
                 <option value="CENTRO">CENTRO</option>
                 <option value="FUENCARRAL-EL PARDO">FUENCARRAL-EL PARDO</option>
                 <option value="MORATALAZ">MORATALAZ</option>
                 <option value="SAN BLAS-CANILLEJAS">SAN BLAS-CANILLEJAS</option>
                 <option value="VILLA DE VALLECAS">VILLA DE VALLECAS</option>
              </select>
              </div>

         <div>
             <button type="submit" class="btn btn-primary">Enviar</button>
         </div>
      </form>
</div>
</div>



<br>
   <div>
<label>Ver aparcamientos accesibles:</label>
  <form method='post' action=''>{% csrf_token %}
     <input type="hidden" name="accessibilidad" value="fgfdgdf">
     <button type="submit" class="btn btn-primary btn-sm center-block">Ver accesibles</button>
  </form>
<div>
   <br>
  <a class="btn btn-primary btn-sm center-block" href="/aparcamientos/">Ver Todos<a>
  </div>
</div>
{% endblock side %}

{% block maincontent %}


              <ul class="list-group">
              <li class="list-group-item"><h2>Aparcamientos</h2></li><br>
               {% for p in aparcamientos %}
                     <div>
                        <li class="list-group-item">
                         <a href="{{p.url}}"> <h4>{{p.nombre}}</h4></a>
                            <a href="{{p.identificador}}">Más información </a>
                        </li>
                     </div><br>
                  {% endfor %}



 {% endblock maincontent %}
