{% extends 'base.html' %}


{% block maincontent %}


{% for p in aparcamientos %}

    <a href="{{p.url}}"> <h3>{{p.nombre}}</h3> </a>
       <p> DESCRIPCIÓN: {{p.descripcion}} </p>
       <p> BARRIO/DISTRITO: {{p.barrio}}/{{p.distrito}} </p>
       <p> DIRECCIÓN: CALLE {{p.calle}}, {{p.numero_via}}</p>
       <p> CP: {{p.codigo_postal}} </p>
       <p> LAT/LONG: {{p.latitud}}/{{p.longitud}}</p>
       <p> TLF: {{p.tlf}} </p>
       <p> EMAIL: {{p.mail}} </p>

{% endfor %}



  {% if  user.is_authenticated %}

   {% block comentario %}
   	<h1>Comenta</h1>

   	<form method='post' action=''>{% csrf_token %}
       <input name="comentario" value="">
       <button type="submit">Envía comentario</button>
   	</form>


   {% endblock %}
    {% endif %}


    {% block coment %}
  {% for c in comentarios %}
         <div>
                 <p> {{c.comentario}} </p>

         </div>

  {% endfor %}
  {% endblock %}
{% endblock maincontent %}




{% block side %}
   {% if  user.is_authenticated %}
    <title> {% block caja %}Selección aparcamiento{% endblock caja %}</title>
     	<form method='post' action=''>{% csrf_token %}
         <input type="hidden" name="id_parking" value="{{p.identificador}}">
         <button type="submit" class="center-block">Añadir a selección</button>
     	</form>

      <div>
             <h2> {{mensaje}} </h2>
      </div>
{% else %}
      <h4> Tienes que estar autenticado para esta acción </h4>
   {% endif %}
{% endblock side %}
