{% extends 'base.html' %}

{% load static %}
{% block title %}Página aparcamiento {% endblock %}
{% block maincontent %}



{% for p in aparcamientos %}
<div class="panel panel-info">
   <div class="panel-body">
    <a href="{{p.url}}"> <h3>{{p.nombre}}</h3> </a>
       <p class= "text-muted"> <kbd>Descripción</kbd> {{p.descripcion}} </p>
       <p class= "text-muted"> <kbd>Barrio/Distrito</kbd> {{p.barrio}}/{{p.distrito}} </p>
       <p class= "text-muted"> <kbd>Dirección</kbd> CALLE {{p.calle}}, {{p.numero_via}}</p>
       <p class= "text-muted"> <kbd>CP</kbd> {{p.codigo_postal}} </p>
       <p class= "text-muted"> <kbd>LAT/LONG</kbd> {{p.latitud}}/{{p.longitud}}</p>
       <p class= "text-muted"> <kbd>Teléfono</kbd> {{p.tlf}} </p>
       <p class= "text-muted"> <kbd>Email</kbd> {{p.mail}} </p>
      </div>
      <button type="button" class="btn">Puntuación <span class="badge">{{p.puntuacion}}</span></button>
      </div>
{% endfor %}



  {% if  user.is_authenticated %}

   {% block comentario %}
   	<h1>Comenta</h1>

   	<form method='post' action=''>{% csrf_token %}
      <textarea class="form-control" rows="4" name="comentario"></textarea>
       <button type="submit" class="btn btn-primary btn-sm">Envía comentario</button>
   	</form>


   {% endblock %}
    {% endif %}


    {% block coment %}
    <br>
    <div class="panel panel-info">
      <div class="panel-heading"><h3>Comentarios</h3></div>
         <div class="panel-body">
  {% for c in comentarios %}

         <div class="well well-sm">
                 <p> {{c.comentario}} </p>
         </div>

  {% endfor %}
  </div>
</div>
  {% endblock %}


{% endblock maincontent %}




{% block side %}
   {% if  user.is_authenticated %}
    <title> {% block caja %}Selección aparcamiento{% endblock caja %}</title>
     	<form method='post' action=''>{% csrf_token %}
         <input type="hidden" name="id_parking" value="{{p.identificador}}">
         <button type="submit" class="btn btn-primary btn-sm center-block">Añadir a selección</button>
     	</form>

      <div>
             <h4 class="text-center"> {{mensaje}} </h4>
      </div>
{% else %}
      <h5 class="text-center"> Tienes que estar autenticado para esta acción </h5>
   {% endif %}

   <br>
   <div>
   <label> Puntúa si te ha gustado</label>
   <form method='post' action=''>{% csrf_token %}
     <input type="hidden" name="puntuacion" value="fgfdgdf">
     <button type="submit" class="btn btn-primary btn-sm center-block"> + 1</button>
   </form>
{% endblock side %}

{% block accesible %}
{% endblock accesible %}
