<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        <title>{% block title %}Dominio | Titulo pagina {% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}"/>



    </head>

{% if  user.is_authenticated %}  <!--and request.user.username == usuario %} -->
    <style>
      body{
          background-color: {{color}};
          font-size: {{size}}%;

        }
   </style>
{% endif %}

    <body>
      <!-- CARGAMOS PLANTILLA navbar.html. -->

       {% include "navbar.html" %}

   <div class="container">
      <div class="row">
         <div class="col-md-8 col-sm-10">
          {% block maincontent %}
          {% endblock maincontent %}
       </div>
         <div class="col-md-4 col-sm-10-offset-12">
           <div class="panel panel-default">

            <div class="panel-heading">
              <h3 class="panel-title text-center">{% block caja %}{% endblock caja %}</h3>
                  <div class="panel-body">
                     {% block side %}
                     {% endblock side %}

                  </div>
               </div>
            </div>
          </div>
       </div>
    </div>

 {% include "footer.html" %}
    </body>
</html>
