{% extends 'base.html' %}


{% block maincontent %}
<h2>Aparcamientos más comentados</h2>
   {% for p in aparcamientos_comentados %}
   <ul class="list-group">
      <li class="list-group-item">
       <a href="{{p.url}}"> {{p.nombre}} </a>
          <p> ---> {{p.barrio}} </p>
          <p> ---> {{p.calle}}, {{p.numero_via}}</p>
          <p> ---> {{p.codigo_postal}} </p>
          <a href="/aparcamientos/{{p.identificador}}"> Más información </a>
   </li>

      {% endfor %}
{% endblock maincontent %}



{% block side %}

   {% for u in lista_usuarios %}

   <title> {% block caja %}Páginas personales{% endblock caja %}</title>
      <p><a href="/{{u.usuario}}"> {{u.nombre_pagina}} </a></p>

   {% endfor %}
{% endblock side %}
