{% extends 'base.html' %}
{% load static %}
{% block maincontent %}

{% block title %}Inicio {% endblock %}

<h2>Aparcamientos más comentados</h2><br>
   {% for p in aparcamientos_comentados %}
   <ul class="list-group">
      <li class="list-group-item">
       <a href="{{p.url}}"> {{p.nombre}} </a>
          <p> ---> {{p.barrio}} </p>
          <p> ---> {{p.calle}}, {{p.numero_via}}</p>
          <p> ---> {{p.codigo_postal}} </p>
          <a href="/aparcamientos/{{p.identificador}}"> Más información </a>
   </li><br>

      {% endfor %}
{% endblock maincontent %}



{% block side %}

<title> {% block caja %}Selección aparcamiento{% endblock caja %}</title>

   {% for u in lista_usuarios %}

   <p class="text-center"><a href="/{{u.usuario}}"> <strong>{{u.nombre_pagina}}</strong> </a></p>


   {% endfor %}

{% endblock side %}
