{% extends 'base.html' %}

{% load static %}
{% block title %} Página personal {% endblock %}

{% block maincontent %}
<h2>{{nombre_pagina}}</h2>

<ul class="pager">
    <span class="step-links">
      <li class="text-info"> Página {{ info_usuario.number }} de {{ info_usuario.paginator.num_pages }} </li>
        {% if info_usuario.has_previous %}
            <li><a href="?page={{ info_usuario.previous_page_number }}">Previous</a></li>
        {% endif %}

        {% if info_usuario.has_next %}
            <li><a href="?page={{ info_usuario.next_page_number }}">Next</a></li>
        {% endif %}
    </span>
</ul>

            {% for i in info_usuario %}
                  <ul class="list-group">
                     <li class="list-group-item">
                        <a href="{{i.aparcamiento.url}}"> {{i.aparcamiento.nombre}} </a>
                        <p> {{i.aparcamiento.calle}}, {{i.aparcamiento.numero_via}}</p>
                        <p> {{i.aparcamiento.codigo_postal}} </p>
                        <a href="/aparcamientos/{{i.aparcamiento.identificador}}"> Más información </a>
                         <p> Seleccionado en {{i.hora_seleccion}} </p>
                  </li><br>
               {% endfor %}



{% endblock maincontent %}





{% block side %}
{% if  user.is_authenticated and request.user.username == usuario %}

            <label>Cambia nombre página personal:</label>
            <title> {% block caja %}Seleccion aparcamientos de {{usuario}}{% endblock caja %}</title>
            <form method='post' action=''>{% csrf_token %}
             <input name="nombre_pagina" value="">
             <button type="submit" class="btn btn-primary btn-sm">Cambiar</button>
          </form><br>


          <div class="form-group">
             <form action="" method="post">{% csrf_token %}
               <label>Tamaño de letra:</label><br>
               <label class="radio-inline"><input type="radio" name="letra" value="100">Small</label>
               <label class="radio-inline"><input type="radio" name="letra" value="140">Medium</label>
               <label class="radio-inline"><input type="radio" name="letra" value="190">Big</label>
              <br><button type="submit" class="btn btn-primary btn-xs">Enviar</button>
             </form>
           <br>

           <div class="form-group">
             <form action="" method="post">{% csrf_token %}
               <label>Color de fondo:</label><br>
               <label class="radio-inline"><input type="radio" name="fondo" value="#FFFFFF">Default</label>
               <label class="radio-inline"><input type="radio" name="fondo" value="#5C5858">Dark</label>
               <label class="radio-inline"><input type="radio" name="fondo" value="#7fb3d5">Blue</label>
              <br><button type="submit" class="btn btn-primary btn-xs">Enviar</button>
             </form>
           <br>

          <div>
                 <h3> {{mensaje}} </h3>
          </div>

{% else %}

         <title> Seleccion aparcamientos de {{usuario}}</title>

{% endif %}




{% endblock side %}
{% block accesible %}
{% endblock accesible %}
