{% extends 'base.html' %}

{% load static %}

{% block maincontent %}

<h3>{{nombre_pagina}}</h3><br><br>

            {% for i in info_usuario %}
                  <ul class="list-group">
                     <li class="list-group-item">
                        <a href="{{i.aparcamiento.url}}"> {{i.aparcamiento.nombre}} </a>
                        <p> {{i.aparcamiento.calle}}, {{i.aparcamiento.numero_via}}</p>
                        <p> {{i.aparcamiento.codigo_postal}} </p>
                        <a href="/aparcamientos/{{i.aparcamiento.identificador}}"> Más información </a>
                         <p> Seleccionado en {{i.hora_seleccion}} </p>
                  </li>
               {% endfor %}

{% endblock maincontent %}




{% block side %}
{% if  user.is_authenticated and request.user.username == usuario %}

            <h4>Cambia nombre página personal</h4>
            <title> {% block caja %}Seleccion aparcamientos de {{usuario}}{% endblock caja %}</title>
            <form method='post' action=''>{% csrf_token %}
             <input name="nombre_pagina" value="">
             <button type="submit">Cambiar</button>
          </form><br>


            <div class="dropdown">
               <form method='post' name='letra'>
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Tamaño letra
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a value="100">Pequeña</button></li>
                <li><a value="140">Mediana</button></li>
                <li><a value="190">Grande</button></li>
              </ul>
              </form>
           </div><br>

           <div class="dropdown">
             <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Color fondo
             <span class="caret"></span></button>
             <ul class="dropdown-menu">
               <li><a href="#">Por defecto</a></li>
               <li><a href="#">Dark</a></li>
               <li><a href="#">Blue</a></li>
             </ul>
          </div>

          <div>
                 <h3> {{mensaje}} </h3>
          </div>

{% else %}

         <title> Seleccion aparcamientos de {{usuario}}</title>

{% endif %}




{% endblock side %}
